:root {
  --main-color: #007bff;
}

.sectionTitle {
  text-align: center;
  color: var(--main-color);
  font-size: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.grid.grid--four {
  grid-template-columns: repeat(4, 1fr);
}

.card .card__icon,
.card .card__link {
  color: var(--main-color);
}

.card h3 {
  font-weight: normal;
  margin-top: 0.5em;
}

/* team */
.team__info {
  padding-left: 1.5rem;
}

.team__ocupation {
  color: gray;
}

.subtitle {
  text-align: center;
  letter-spacing: 2px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
